@import "response.css"
@import "dry.css"

body, html
  padding: 0
  background-color: rgb(233, 246, 255)
  width: 100%
  height: 100%
  margin: 0 auto
  background-image: url("../images/table.jpg")




  //index header
header
  background-color: rgba(34, 34, 34, 0.94)
  color: rgba(221, 221, 221, 1)
  height: 20%
  position: relative
  z-index: 1001



#anythings
  padding-right: 0.1em
  font-weight: 100

#possible
  padding-left: 0.1em
  font-weight: 100
.title
  margin: -10px 0 0 0
  font-family: 'Roboto', sans-serif

.title h1
  display: inline-block
  font-family: 'Great Vibes'
  margin-top: -1em

.title h4
  margin-top: -1em
  font-family: 'Roboto Slab' , sans-serif







//*********************Navigation
.mobile-nav
  position: absolute
  top: 2em
  left: 1em

.main-color
  fill: rgba(166, 166, 166, 0.6)
.main-color1
  fill: rgba(255, 255, 255, 1)

#menulist
  position: fixed
  z-index: 1000
  width: 100%
  height: 100vh
  background-color: rgba(0, 0, 0, 0.8)


#menulist, #menulist ul

  color: white
  text-align: center


#menulist ul
  line-height: 5rem
  list-style: none
  margin: 0 auto
  padding: 0
  font-size: 1.2em

.container
  text-align: center
  display: block
  margin: 0 auto
  height: 18em

#menulist a
  color: rgba(166, 166, 166, 1)
  text-decoration: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

#menulist ul li:nth-child(1)
  margin-top: 5px

.contact
  margin-top: 5%

#mailsvg
  width: 33.3%
  float: left
  height: 2em


#phonesvg
  float: right
  width: 33.3%
  height: 2em

#facebooksvg
  float: right
  width: 33.3%
  height: 2em




    //slideshow



@keyframes fade
  0%
    left: 0%
  20%
    left: 0%
  25%
    left: -100%
  45%
    left: -100%
  50%
    left: -200%
  70%
    left: -200%
  75%
    left: -300%
  95%
    left: -300%
  100%
    left: -400%


div#slider
  height: 300px
  overflow: hidden
  width: 100%
  margin: 0 auto
  figure img
    max-width: 20%
    float: left


  figure
    position: relative
    width: 500%
    margin: 0
    left: 0
    text-align: left
    font-size: 0
    animation: 30s fade infinite
#slider img
  display: block
  margin-left: auto
  margin-right: auto
  height: auto
  width: 100%



//*****************FOOTER*****************
// #wrap created for sticky footer


#wrap
  min-height: calc(100vh - 20px)
  margin: 0
  padding: 0

footer
  background-color: rgba(34, 34, 34, 0.94)
  color: rgba(221, 221, 221, 1)
  height: 20px
