@media screen and (max-width: 800px) {
  body {
    text-align: center;
    width: 100%;
    height: 100%; }

  nav, #nav {
    display: none; }

  header, #header {
    height: 110px; } }
@media screen and (min-width: 480px) and (max-width: 799px) {
  #menulist ul li {
    display: inline;
    padding: 5%;
    position: relative;
    top: 25px;
    font-weight: bold;
    color: #fff; }

  .contact {
    position: relative;
    top: 2em; } }
@media screen and (min-width: 800px) {
  .mobile-nav, #mobileheader {
    display: none; }

  header, #header {
    height: 75px; }

  nav, #nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
@media screen and (min-width: 1000px) {
  #wrap, footer, #footer {
    max-width: 1200px; } }
