doctype html
html



  head
    title Anything's Possible Extreme Handyman & Professional Painting LLC



    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='slick/slick.css')
    // link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='slick/slick-theme.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(type='text/javascript' src='jquery.js')
    link(href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,100' rel='stylesheet' type='text/css')
    
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

    //
      ****************HEADER****************

  body
    div#wrap
      include header.html

      div#slider.clear
        
        figure
          img(src='images/table.jpg' alt='slideshow image')
          img(src='images/stain.jpg' alt='slideshow image')
          img(src='images/table.jpg' alt='slideshow image')
          img(src='images/stain.jpg' alt='slideshow image')
          img(src='images/table.jpg' alt='slideshow image')

    footer#footer.smaller
      p Anything's Possible Extreme Handyman & Professional Painting LLC  
      
        

        
      
